<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Django With TinyPNG</title>
    <meta name="description" content="Django With TinyPNG">
    <meta name="author" content="Caktus Group LLC">

    <!-- Add jQuery library -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/static/js/lib/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/static/js/lib/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/lib/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/static/js/lib/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/lib/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/static/js/lib/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <link rel="stylesheet" href="/static/js/lib/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/lib/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
        *, *:before, *:after {
            box-sizing: border-box;
        }
        .slideshow {
            width: 100%;
            max-width: 1200px;
            text-align: center;
            background-color: aquamarine;
        }
    </style>      
</head>

<body>
    <div class="slideshow">
        <img src="http://placekitten.com/300/300">
        <img src="http://placekitten.com/300/300">
        <img src="http://placekitten.com/300/300">
        <img src="http://placekitten.com/300/300">
        <img src="http://placekitten.com/300/300">
        <img src="http://placekitten.com/300/300">
        <img src="http://placekitten.com/300/300">
        <img src="http://placekitten.com/300/300">
        <img src="http://placekitten.com/300/300">
    </div>
  <!--script src="js/scripts.js"></script-->
</body>
</html>
